[access]
	inheritFrom = All-Projects
[project]
	description = Data analysis toolbox for Multi-electrode patch clamp recordings
[access "refs/*"]
	owner = group user/Sathish Kumar Narayanan (ragavsathish)
[access "refs/for/refs/*"]
	read = group user/Sathish Kumar Narayanan (ragavsathish)
	push = group user/Sathish Kumar Narayanan (ragavsathish)
	label-Code-Review = -2..+2 group user/Sathish Kumar Narayanan (ragavsathish)
	label-Verified = -1..+1 group user/Sathish Kumar Narayanan (ragavsathish)
	rebase = group user/Sathish Kumar Narayanan (ragavsathish)
	removeReviewer = group user/Sathish Kumar Narayanan (ragavsathish)
	submit = group user/Sathish Kumar Narayanan (ragavsathish)
[access "refs/heads/*"]
	read = group user/Sathish Kumar Narayanan (ragavsathish)
	create = group user/Sathish Kumar Narayanan (ragavsathish)
	push = +force group user/Sathish Kumar Narayanan (ragavsathish)
	pushMerge = group user/Sathish Kumar Narayanan (ragavsathish)
[access "refs/tags/*"]
	push = group user/Sathish Kumar Narayanan (ragavsathish)
	push = +force group user/Sathish Kumar Narayanan (ragavsathish)
